{% extends 'main/base_generic.html' %}

{% block title %}Успешно{% endblock %}

{% block content %}
<div class="card text-white bg-danger mb-3" style="max-width: 40rem;">
  <div class="card-header">Что-то пошло не так!</div>
  <div class="card-body">
<div class="text-center">
    <h1 class="mt-4">Ваш заказ был отменен!</h1>
    <h1 class="mt-4">Для разъяснений причин отмены обратитесь на наш e-mail crypton@mail.ru</h1>
    <h4 class="mt-4">Спасибо за использование нашего обменника.</h4>
</div>
      </div>
    </div>
{% endblock %}