{% extends 'main/base_generic.html' %}

{% block title %}Покупка криптовалюты{% endblock %}

{% block extra_styles %}
    <!-- Подключение стилей Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="card text-white bg-secondary mb-3" style="max-width: 40rem;">
    <div class="card-header">Покупка криптовалюты</div>
    <div class="card-body">
        <div class="container mt-5">

                <h1 class="mt-4">Оплатите ордер в течение: <span id="timer">30:00</span></h1>
                <h6 class="mt-4">Ваш номер заказа: <span id="order_id"></span>, Вы покупаете: <span id="currency"></span </h6>

                <h4 class="mt-4">Оплатите ордер по следующим реквизитам</h4>
                <h4 class="mt-4">Банк: Сбербанк</h4>
                <h4 class="mt-4">Номер счета: BSPB00000000000000000000</h4>
                <h4 class="mt-4">Пополните счет на: <span id="amount_buy"></span> $</h4>

                <button id="payment_button" class="btn btn-primary btn-lg">Оплачено</button>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        // Получение параметров из URL
        var urlParams = new URLSearchParams(window.location.search);
        var amount_buy = urlParams.get('amount');
        var currency = urlParams.get('crypto_currency');
        var order_id = urlParams.get('order_id');

        // Вставка значений в элементы
        $('#amount_buy').text(amount_buy);
        $('#order_id').text(order_id);
        $('#currency').text(currency);


        // Остальной JavaScript для таймера и другой логики страницы
    });
    // Таймер обратного отсчета
    var countdown = 1800; // 30 минут в секундах
    var timerElement = document.getElementById('timer');

    function updateTimer() {
        var minutes = Math.floor(countdown / 60);
        var seconds = countdown % 60;
        timerElement.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;

        if (countdown === 0) {
            // Действия по истечении времени (если нужны)
        } else {
            countdown--;
            setTimeout(updateTimer, 1000);
        }
    }

    updateTimer();

    // Обработчик кнопки "Оплачено"
    $(document).ready(function() {
        $('#payment_button').on('click', function() {
            var order_id = $('#order_id').text(); // Получаем айди заказа из элемента
            var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
            $.ajax({
                type: "POST",
                url: "{% url 'mark_order_as_paid' %}",
                data: {
                    'order_id': order_id,
                    'csrfmiddlewaretoken': csrfToken
                },
                success: function(response) {
                    var order_id = $('#order_id').text();
                    window.location.href = "{% url 'waiting' %}?order_id="+order_id;
                    alert(`Ваша заявка обрабатывается и будет выполнена в течение 30 минут.`);
                },
                error: function(error) {
                    alert(`Ошибка`);
                }
            });
        });
    });
</script>
{% endblock %}
